<div class="container">
<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="question" id="question" placeholder="What do you want to ask?">
  <input type="submit" value="go on..">
</form>
</div>

